@model IEnumerable<NewApp.Services.Views.IndexLevelView>

@{
    ViewData["Title"] = "Level";
}

<h1>Level</h1>

<p>
    <a asp-action="CreateLevel">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        <a asp-action="EditLevel" asp-route-id="@item.LevelId">Edit</a> |
                        <a asp-action="DetailsLevel" asp-route-id="@item.LevelId">Details</a> |
                        <a asp-action="DeleteLevel" asp-route-id="@item.LevelId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
