@using PagedList.Mvc;
@model IEnumerable<NewApp.Services.Views.IndexMenteeView>
@*@model PagedList.IPagedList<NewApp.Services.Views.IndexMenteeView>*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Mentee";
}

<h1>Mentee</h1>

<div class="col-md-4">
    <form asp-action="ShowSearchResultsName">
        <div class="form-group">
            <th>
                @Html.DisplayName("Search by mentee name")
            </th>
            <label for="SearchLetter" class="control-label"></label>
            <input name="SearchLetter" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
    <form asp-action="ShowSearchResultsPos">
        <div class="form-group">
            <th>
                @Html.DisplayName("Search by position")
            </th>
            <label for="SearchLetter" class="control-label"></label>
            <input name="SearchLetter" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().MenteeId)
            </th>
            <th>
                @Html.ActionLink($"Mentee Name { ViewBag.ArrowName }", "Mentee", new { sortOrder = ViewBag.NameSortParm @*currentFilter = ViewBag.CurrentFilter*@ })
            </th>
            <th>
                @Html.ActionLink($"Age { ViewBag.ArrowAge }", "Mentee", new { sortOrder = ViewBag.AgeSortParm @*currentFilter = ViewBag.CurrentFilter*@ })
            </th>
            <th>
                @Html.ActionLink($"Position { ViewBag.ArrowPosition }", "Mentee", new { sortOrder = ViewBag.PosSortParm @*currentFilter = ViewBag.CurrentFilter*@ })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("HomeController", "IndexMenteeView", FormMethod.Post))
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenteeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MenteeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ViewPos)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MenteeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MenteeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MenteeId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
    <br />
</table>

    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
    <pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="Mentee" asp-controller="HomeController" />
    @*@Html.PagedListPager(Model, page => Url.Action("Mentee",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@

